# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
#export HISTFILESIZE=$HISTSIZE
export HISTFILESIZE=0
export HISTCONTROL=ignoredups

# History is best left in the past
if [ -f $HISTFILE ]; then
  rm -f $HISTFILE
fi
unset HISTFILE

# Clean up less history
if [ -f $LESSHISTFILE ]; then
  rm -f $LESSHISTFILE
fi
export LESSHISTFILE="-"

# timestamps for bash history. www.debian-administration.org/users/rossen/weblog/1
# saved for later analysis
HISTTIMEFORMAT='%F %T '
export HISTTIMEFORMAT

# Tell Vagrant to use VirtualBox by default
export VAGRANT_DEFAULT_PROVIDER=virtualbox
